// CSS
.contact-page {
    display: flex;
    flex-direction: column;

    &__header {
        position: relative;
        width: 100vw;
        flex: 1 0 50%;
        height: 100%;

        &-image {
            width: 100%;
            height: 100%;

            &--image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        &-title {
            color: rgb(0, 0, 0);
            font-family: $font-family-primary;
            font-size: 4rem;
        }

        &-content {
            color: #333;
            font-family: $font-family-secundary;
            justify-content: center;
            text-align: center;
            padding: 0 50px;
            text-align: justify;

        }

        &-form {
            .wpcf7 {
                margin: 0 auto;
                padding: 0;

                label {}

                p {
                    font-family: $font-family-secundary;
                    font-size: 1rem;

                    input,
                    textarea {
                        border: 0;
                        border-bottom: 1px solid #333;

                        &:focus {
                            outline: none;

                        }
                    }

                    textarea {
                        border-style: none;
                        border-bottom: 1px solid #333;
                        height: 30px;
                    }

                    &:last-of-type {


                        input {
                            background-color: rgb(0, 0, 0);
                            height: auto;
                            width: 100%;
                            color: white;
                            font-family: $font-family-secundary;
                            font-size: 1rem;
                            transition: 0.7s all ease-in-out;

                            &:hover {
                                background-color: map-get($colores, "greyish-green");
                            }
                        }
                    }
                }
            }
        }
    }
}


@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {

    .contact-page {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;

        &__header,
        &__content {
            flex: 1 0 50%;
            height: 100%;
        }
    }
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


//breackpoint persdonalizado
@media screen and (min-width: 118rem) {}