.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    width: 100%;
    background-color: #7b8b4f;
    font-family: $font-family-secundary;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter input {
    width: 100%;    
    max-width: 410px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;   
    background-color: transparent;
}

footer input[type="email"]::placeholder {
    color: #000;
    /* Ajusta el color del placeholder */
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
    /* Ajusta opacidad si deseas un placeholder más claro */
}

.subscribe-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.subscribe-button:hover {
    background-color: #333;
}

.confirmation {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.social {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.column {    
    min-width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    margin-top: 20px;
}
