.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;

    .site-branding {

        .site-title {
            a {
                img {
                    width: 75px;
                }
            }
        }
    }

    a, span{
        text-decoration: none;
        color:#333;
        font-family: $font-family-secundary;
    }

    .site-branding,
    .site-shop,
    .main-navigation {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }


    .site-shop span,
    .main-navigation a span {
        display: none;
    }


    img {
        width: 24px;
        height: auto;
    }


    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {

        .site-shop span,
        .main-navigation a span {
            display: inline-block;
            margin-left: 0.25rem;
        }
    }
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@media screen and (min-width: 118rem) {}