//2. Tipografia 
//libre Franklin

@font-face {
    font-family: 'Libre Franklin';
    src: url('asset/fonts/otf/LibreFranklin/LibreFranklin-Light.otf') format('opentype'),
        url('asset/fonts/woff/LibreFranklin/LibreFranklin-Light.woff') format('woff'),
        url('asset/fonts/woff2/LibreFranklin/LibreFranklin-Light.woff2') format('woff2');

    font-weight: lighter;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Libre Franklin';
    src: url('asset/fonts/otf/LibreFranklin/LibreFranklin-Regular.otf') format('opentype'),
        url('asset/fonts/woff/LibreFranklin/LibreFranklin-Regular.woff') format('woff'),
        url('asset/fonts/woff2/LibreFranklin/LibreFranklin-Regular.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Libre Franklin';
    src: url('asset/fonts/otf/LibreFranklin/LibreFranklin-SemiBold.otf') format('opentype'),
        url('asset/fonts/woff/LibreFranklin/LibreFranklin-SemiBold.woff') format('woff'),
        url('asset/fonts/woff2/LibreFranklin/LibreFranklin-SemiBold.woff2') format('woff2');

    font-weight: 600;
    font-style: normal;
    font-display: swap;

}

//Maragsa

@font-face {
    font-family: 'Maragsa';
    src: url('asset/fonts/otf/Maragsa/Maragsa.otf') format('opentype'),
        url('asset/fonts/woff/Maragsa/Maragsa.woff') format('woff'),
        url('asset/fonts/woff2/Maragsa/Maragsa.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

/*
*3. Definición de variables de tipografía
*/
$font-family-primary: 'Maragsa', sans-serif;
$font-family-secundary:'Libre Franklin', sans-serif;