.my-account-page {
    &__header {
        padding: 150px;

        &-title {
            display: flex;
            justify-content: center;
            font-family: $font-family-secundary;
        }
    }

    &__content {
        &-account {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            &--navigation {
                .woocommerce-MyAccount-navigation {

                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            list-style: none;
                            font-family: $font-family-secundary;

                            &.is-active {
                                background-color: #333;

                                a {
                                    color: white;
                                }
                            }
                        }

                        li:hover {
                            a {
                                color: white
                            }

                            ;
                            background-color: #333;

                        }
                    }
                }
            }

            &--content {
                font-family: $font-family-secundary;

                .woocommerce-EditAccountForm {
                    display: flex;
                    flex-direction: column;


                    .woocommerce-form-row {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-family: $font-family-secundary;
                            color: #333;

                        }

                    }

                    input {
                        border: 0;
                        background-color: rgb(255, 255, 255);
                        border-bottom: 2px solid #000;
                        color: #333;
                        width: 75%;
                    }

                    fieldset {
                        padding: 0;
                    }

                    .woocommerce-Button {
                        background-color: #333;
                        color: white;
                        border: 0;
                    }
                }

                .woocommerce-Address {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    a {
                        color: #333;
                        font-weight: 700;
                        text-decoration: underline;
                    }
                }

                .woocommerce-address-fields {
                    .form-row {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 25px;
                    }

                    label {
                        font-family: $font-family-secundary;
                        color: #333;
                    }

                    input {
                        border: 0;
                        background-color: rgb(255, 255, 255);
                        border-bottom: 2px solid #000;
                        color: #333;
                        width: 100%;
                    }

                    .select2-selection {
                        border: 0;
                        background-color: rgb(255, 255, 255);
                        color: #333;
                        width: 100%;
                        font-family: $font-family-secundary;
                        color: #333;
                        border-bottom: 2px solid #000;
                        border-radius: 0;
                    }

                    .button {
                        background-color: #333;
                        color: white;
                        width: 100%;
                        border: 0;
                    }
                }

                .woocommerce-MyAccount-orders {
                    width: 100%;

                    tbody {
                        width: 100%;

                        justify-content: space-between;

                        tr {
                            td {
                                &::before {
                                    background-color: #333;
                                    color: white;
                                    font-family: $font-family-secundary;
                                    width: 30%;
                                    text-align: left;
                                }
                            }
                        }
                    }

                }
            }
        }

        #customer_login {
            font-family: $font-family-secundary;
            display: flex;
            flex-direction: column;
            row-gap: 50px;

            .col-1,
            .col-2 {
                width: auto;
            }

            .woocommerce-form-login,
            .woocommerce-form-register {

                .woocommerce-form-row,
                .form-row {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .woocommerce-button {
                    background-color: #333;
                    color: white;
                }

                .show-password-input {
                    color: map-get($colors, "white");
                    background-color: #333;
                    border: 0;
                    margin-left: 15px;

                    &::before {
                        content: "\1F441";
                        display: inline-block;

                    }
                }

                input[type="text"]+.show-password-input::before {
                    content: "\1F648";
                }
            }
        }


    }
}

a {
    color: map-get($colores, "dark-gray");
    font-weight: 700;
}


@include media-breakpoint-up(md) {
    .my-account-page {
        &__header {
            padding: 150px;

            &-title {
                display: flex;
                justify-content: center;
                font-family: $font-family-secundary;
            }
        }

        &__content {
            &-account {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
                column-gap: 80px;

                &--navigation {
                    flex: 1 0 calc(20% - 80px);

                    .woocommerce-MyAccount-navigation {

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                list-style: none;
                                font-family: $font-family-secundary;

                                &.is-active {
                                    background-color: #333;

                                    a {
                                        color: white;
                                    }
                                }
                            }

                            li:hover {
                                a {
                                    color: white
                                }

                                ;
                                background-color: #333;

                            }
                        }
                    }
                }

                &--content {
                    flex: 1 0 calc(80% - 80px);
                    font-family: $font-family-secundary;

                    .woocommerce-address-fields {
                        .form-row {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 25px;
                        }

                        label {
                            font-family: $font-family-secundary;
                            color: #333;
                        }

                        input {
                            border: 0;
                            background-color: rgb(255, 255, 255);
                            border-bottom: 2px solid #000;
                            color: #333;
                            width: 75%;
                        }

                        .select2-selection {
                            border: 0;
                            background-color: rgb(255, 255, 255);
                            color: #333;
                            width: 75%;
                            font-family: $font-family-secundary;
                            color: #333;
                            border-bottom: 2px solid #000;
                            border-radius: 0;
                        }

                        .button {
                            background-color: #333;
                            color: white;
                            width: 75%;
                        }

                    }

                    .woocommerce-MyAccount-orders {
                        width: 100%;

                        thead {
                            tr {
                                th {


                                    font-family: $font-family-secundary;
                                    width: 30%;
                                    text-align: left;
                                    background-color: #333;

                                    span {
                                        color: white;
                                        padding: 10px;
                                    }
                                }
                            }
                        }

                        tbody {
                            width: 100%;
                            justify-content: space-between;

                            tr {
                                border-bottom: 2px solid #333;
                            }
                        }
                    }
                }
            }

            #customer_login {
                flex-direction: row;
                justify-content: center;
                margin: auto;
                width: 80%;
                padding-bottom: 30px;
                column-gap: rfs-value(50px);

                .col-1,
                .col-2 {
                    width: auto;
                    flex: 0 0 calc(50% - 50px);
                }
            }

        }

        a {
            color: map-get($colores, "dark-gray");
            font-weight: 700;
        }
    }
}

@include media-breakpoint-up(lg) {
    .my-account-page {}
}

@include media-breakpoint-up(xl) {
    .my-account-page {}
}

@include media-breakpoint-up(xxl) {
    .my-account-page {}
}

@media screen and (min-width: 118rem) {
    .my-account-page {}
}